html, body
  overflow-x: hidden

body
  padding-top: 70px
  background-color: #ccc !important

.beta
  font-size: smaller
  margin: 0 3px

.alert, .notice
  padding: 15px
  border: 1px solid transparent
  border-radius: 4px
  color: white
  margin: 0 16px 20px 16px

  .close
    text-shadow: 0 0 0 #fff
    margin-top: -2px
    opacity: 1

.alert
  background: red

  .close
    color: tan

    &:hover
      color: lighten(tan, 15)

.notice
  background: green

  .close
    color: lighten(green, 10)

    &:hover
      color: lighten(green, 20)

form, .form-title
  max-width: 750px
  margin: 0 auto 10px

form
  background-color: white
  padding: 1em
  border-radius: 5px

  label
    min-width: 230px

    &.control-label
      padding-right: 5px

  .actions
    float: right
    padding-right: 15px

    input[type="submit"]
      margin-left: 10px

